<style>
  div.form {
    display: grid;
    place-content: center;
  }

  fieldset.form {
    padding: 2px;
  }

  fieldset.form legend {
  }

  div.form form {
    width: 900px;
  }

  form.form div.form-text {
  }

  form.form div.form-text input[type=text] {
    width: 100%;
    padding: 2px;
    font-size: 14px;
    background-color: #eeeeee;
  }

  form.form div.form-textarea {
  }
  form.form div.form-textarea textarea {
    width: 100%;
    height: 150px;
    background-color: #eeeeee;
    font-size: 14px;
    padding: 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
  }

  form.form div.form-date {
  }

  form.form div.form-email {
  }

  form.form div.form-submit {
    padding-top: 10px;
  }

  button {
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
  }

  button:hover, button:focus {
    background: #000;
    color: #fff;
  }
</style>

<div class="form">
<fieldset class="form">
  <legend>My Form</legend>
  <form action="" method="get" class="form">
    <div class="form-text">
      <label for="name">Name: </label><br>
      <input id="name" type="text" name="name" id="name" required />
    </div>
    <div class="form-textarea">
      <label for="details">Details: </label><br>
      <textarea id="details" name="details"></textarea>
    </div>
    <div class="form-email">
      <label for="email">Email: </label><br>
      <input id="email" type="email" name="email" id="email" required />
    </div>
    <div class="form-date">
      <label for="date">Start Date: </label><br>
      <input id="date" type="date" name="start" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
    </div>
    <!--
    <div class="form-submit">
      <input type="submit" value="Save" />
    </div>
    -->
    <div class="button">
      <button type="submit">Save</button>
    </div>
  </form>
</fieldset>
</div>
