<style>
  div.show-wrapper {
    padding: 3px;
    display: grid;
    place-content: center;
  }

  div.show-wrapper dl {
  }

  div.show-wrapper dl dt {
    padding: 6px 3px;
    margin: 1px;
    float: left;
    clear: left;
    width: 230px;
    font-weight: bold;
    text-align: right;
    background-color: #F8F8F0;
  }

  div.show-wrapper dl dd {
    padding: 6px 3px;
    margin: 1px;
    float: left;
    width: 650px;
    background-color: #F0F0F0;
  }
</style>

<div class="show-wrapper">
  <dl>
    <dt>What</dt>
    <dd>Hulu TV</br>streaming</dd>
    <dt>Location</dt>
    <dd>Hartford, Connecticut</dd>
    <dt>User ID</dt>
    <dd>john23</dd>
    <dt>Last Updated</dt>
    <dd>23 April, 2024</dd>
  </dl>
</div>
