<style>
  div.show-wrapper {
    display: grid;
    place-content: center;
  }

  div.show-wrapper dl {
  }

  div.show-wrapper dl dt {
    float: left;
    clear: left;
    width: 6em;
    font-weight: bold;
  }

  div.show-wrapper dl dd {
    float: left;
  }
</style>

<div class="show-wrapper"
  <h1>Show</h1>
  <dl>
    <dt>What</dt>
    <dd>Hulu TV</br>streaming</dd>
    <dt>Location</dt>
    <dd>Hartford, Connecticut</dd>
    <dt>Last Updated</dt>
    <dd>23 April, 2024</dd>
  </dl>
</div>
