<style>
  table.table {
    border-collapse: collapse;
    width: 100%;
  }

  table.table thead {
  }

  table.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }
  
  table.table tbody {
  }

  table.table tr {
  }
  table.table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  table.table tr:hover {
    background-color: #ddd;
  }
  
  table.table td {
  }
</style>

<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
    <  td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </tbody>
</table>
