<style>
  table.table {
    border-collapse: collapse;
    width: 100%;
  }

  /* table head */

  table.table thead {
  }

  table.table thead tr {
  }

  table.table thead tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }

  table.table caption {
  }

  /* table body */

  table.table tbody {
  }

  table.table tbody tr {
  }
  table.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  table.table tbody tr:hover {
    background-color: #ddd;
  }
  
  table.table tbody tr td {
  }
</style>

<table class="table">
  <caption>My Table</caption>
  <thead>
    <tr>
      <th>What</th>
      <th>Location</th>
      <th>UserId</th>
      <th>Password</th>
      <th>Last Updated</th>
      <th>Users</th>
      <th>Questions</th>
      <th>Authentication</th>
      <th>Uses</th>
      <th>Source</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Streaming</td>
      <td>Louisville</td>
      <td>eddie12</td>
      <td>blacky12</td>
      <td>Sept, 2023</td>
      <td>Joe, Sam</td>
      <td>Cat's name?</td>
      <td>Blacky</td>
      <td>777 333-2222</td>
      <td>Watching TV</td>
      <td>Netflix</td>
    </tr>
    <tr>
      <td>Streaming</td>
      <td>Louisville</td>
      <td>eddie12</td>
      <td>blacky12</td>
      <td>Sept, 2023</td>
      <td>Joe, Sam</td>
      <td>Cat's name?</td>
      <td>Blacky</td>
      <td>777 333-2222</td>
      <td>Watching TV</td>
      <td>Netflix</td>
    </tr>
    <tr>
      <td>Streaming</td>
      <td>Louisville</td>
      <td>eddie12</td>
      <td>blacky12</td>
      <td>Sept, 2023</td>
      <td>Joe, Sam</td>
      <td>Cat's name?</td>
      <td>Blacky</td>
      <td>777 333-2222</td>
      <td>Watching TV</td>
      <td>Netflix</td>
    </tr>
    <tr>
      <td>Streaming</td>
      <td>Louisville</td>
      <td>eddie12</td>
      <td>blacky12</td>
      <td>Sept, 2023</td>
      <td>Joe, Sam</td>
      <td>Cat's name?</td>
      <td>Blacky</td>
      <td>777 333-2222</td>
      <td>Watching TV</td>
      <td>Netflix</td>
    </tr>
  </tbody>
</table>
