<style>
  table.table {
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
  }
  table th.header {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }
  
  table tr.row {
  }
  table tr.row:nth-child(even) {
    background-color: #f2f2f2;
  }
  table tr.row:hover {
    background-color: #ddd;
  }
  
  table th.column {
  }
  column {
  }
</style>

<table class="table">
  <tr class="header">
    <th class="column">Company</th>
    <th class="column">Contact</th>
    <th class="column">Country</th>
  </tr>
  <tr class="row">
    <td class="cell">Alfreds Futterkiste</td>
    <td class="cell">Maria Anders</td>
    <td class="cell">Germany</td>
  </tr>
  <tr class="row">
    <td class="cell">Centro comercial Moctezuma</td>
    <td class="cell">Francisco Chang</td>
    <td class="cell">Mexico</td>
  </tr>
</table>
