<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <title>Demo</title>
    <link rel="icon" type="image/x-icon" href="{{site.url}}/images/favicon.ico">

  <style>
    * {
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
    }
    body {
      font-family: Helvetica Neue;
    }
    body h1 {
    }
    body h2 {
    }
    body p {
    }
  </style>
    
  </head>
    <body>
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
  </body>
</html>
